
/* Your CSS Code here. */

.holder{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.holder>h1{
	width:75px;
	height:75px;
	background-color:green;
	font-weight:100px;
}
h1:first-child{
	background-color:red;
}
h1:nth-child(2){
	background-color:blue;
}
